#pragma once

#include <string>
#include <vector>

{{#getDependencies}}
{{{dependency}}}
{{/getDependencies}}

class {{{modelName}}} {
public:
    {{{modelName}}}() = default;

    {{#members}}
    /* {{{name}}} accessors */
    {{#isPrimitive}}
    {{{dataType}}} {{{getterName}}}() const;
    void {{{setterName}}}({{{dataType}}} value);
    {{/isPrimitive}}
    {{^isPrimitive}}
    const {{{dataType}}}& {{{getterName}}}() const;
    void {{{setterName}}}(const {{{dataType}}}& value);
    {{/isPrimitive}}

    {{/members}}
private:
    {{#members}}
    /* {{{description}}} */
    {{{dataType}}} {{{name}}};
    {{/members}}
};