#include "{{{modelName}}}.hpp"

{{#members}}
{{#isPrimitive}}
{{{dataType}}} {{{modelName}}}::{{{getterName}}}() const {
    return {{{name}}};
}

void {{{modelName}}}::{{{setterName}}}({{{dataType}}} value) {
    this->{{{name}}} = value;
}

{{/isPrimitive}}
{{^isPrimitive}}
const {{{dataType}}}& {{{modelName}}}::{{{getterName}}}() const {
    return {{{name}}};
}

void {{{modelName}}}::{{{setterName}}}(const {{{dataType}}}& value) {
    this->{{{name}}} = value;
}

{{/isPrimitive}}
{{/members}}